@if (size() === 'normal') {
  <div [ngClass]="'player-' + cardType().player.name" class="frame normal">
    @if (settingsService.mode === 'tutorial') {
      <span class="points normal">{{ cardType().points }}</span>
    }
    <img style="width: 150px" alt="Card" src="assets/{{ cardType().cardType }}.png">
  </div>
} @else {
  <div [ngClass]="['player-' + cardType().player.name, isWinningCard() ? 'winning-card': '']" class="frame small">
    @if (isWinningCard()) {
      <span class="points small">{{ cardType().points }}</span>
    }
    <img style="width: 75px" alt="Card" src="assets/{{ cardType().cardType }}.png">
  </div>
}

