:host {
  position: absolute;
}

.player-one {
  background-color: #6fcccc;
}

.player-two {
  background-color: #cc966f;
}

.frame {
  position: relative;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.normal {
  border: 2px black solid;
  width: 200px;
  height: 200px;
}

.small {
  border: 1px black solid;
  width: 100px;
  height: 100px;
}

.points {
  position: absolute;
  font-weight: lighter;
}

.type {
  font-size: 4rem;
  font-weight: bold;
}


