img {
  display: block;
  margin: 2rem auto 1rem;
  width: 350px;
}

.overview-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.setting-block {
  padding: 1rem;
  margin: 1rem;
  border: 2px black solid;
  border-radius: 1rem;
  width: 450px;
  background-color: antiquewhite;
}

h3 {
  margin-top: 0;
}

button {
  margin-left: 1rem;
  background-color: greenyellow;
}

