<div [ngClass]="{'transparent-background': dialog.isOpened()}">
  <h1 style="padding-left: 1rem">Ropasc</h1>
  <div class="overview-row">
    <div class="setting-block">
      <h3>Set of cards </h3>
      <div>
        <input [(ngModel)]="selectedCards" id="default" name="cards" type="radio" value="default"/>
        <label for="default">Rock, paper, scissors</label>
      </div>
      <div>
        <input [(ngModel)]="selectedCards" id="extended" name="cards" type="radio" value="extended"/>
        <label for="extended">Rock, paper, scissors, lizard, Spock</label>
      </div>
      <img [src]="selectedCards === 'default' ? 'assets/rps.png': 'assets/rpslv.png'" alt="rps diagram">
    </div>

    <div class="setting-block">
      <h3>Mode </h3>
      <div>
        <input [(ngModel)]="selectedMode" id="tutorial" name="mode" type="radio" value="tutorial"/>
        <label for="tutorial">Tutorial - show value of cards and winning card on top</label>
      </div>
      <div>
        <input [(ngModel)]="selectedMode" id="advanced" name="mode" type="radio" value="advanced"/>
        <label for="advanced">Advanced - show winning card on top</label>
      </div>
      <div>
        <input [(ngModel)]="selectedMode" id="expert" name="mode" type="radio" value="expert"/>
        <label for="expert">Expert - last thrown card on top</label>
      </div>
      @if (selectedMode === 'tutorial') {
        <p>Helps visualize the dominant cards and their point value. Dominant card is always shown on top (even it was
          thrown in past).</p>
      } @else if (selectedMode === 'advanced') {
        <p>Helps visualize the dominant cards. Dominant card is always shown on top (even it was thrown in past).</p>
      } @else {
        <p>No help - you have to remember, which card is dominant.</p>
      }
      <p style="margin-top: auto">*All modes apply same rules! They differ only in visualization. </p>
    </div>

    <div class="setting-block">
      <h3>Speed </h3>
      <div>
        <input [(ngModel)]="selectedSpeed" [value]="Speed.slow" checked id="slow" name="speed" type="radio"/>
        <label for="slow">Slow</label>
      </div>
      <div>
        <input [(ngModel)]="selectedSpeed" [value]="Speed.fast" id="fast" name="speed" type="radio"/>
        <label for="fast">Fast</label>
      </div>
      <p>Effects speed of cards being thrown. </p>
    </div>
  </div>

  <div class="overview-column">
    <input [(ngModel)]="settingsService.playerOneName" maxlength="15" type="text">
    <input [(ngModel)]="settingsService.playerTwoName" type="text">
    <button (click)="startGame()">Play</button>
    <app-rules-dialog #dialog></app-rules-dialog>
  </div>
</div>

