.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deck {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 280px;
  width: 280px;
}

.cup {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  height: 280px;
  width: 280px;
  border: black 2px solid;
  background-color: #fbf5ec;
  margin: 0.5rem;

  span {
    padding: 0.5rem;
    font-size: 2rem;
    font-weight: bold;
  }
}

.toss-anim {
  animation: toss 1s forwards;
  animation-timing-function: linear
}

.back-button {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

@keyframes toss {
  from {
    transform: translateY(0) translateX(0) rotate(0deg);
  }
  to {
    transform: translateY(500px) translateX(500px) rotate(720deg);
  }
}
