<button (click)="backToSettings()" class="back-button">Back</button>

<div class="wrapper">
  <div class="deck">
    <span>{{ settingsService.playerOneName }}</span>
    @for (card of playerOne.deck; track $index) {
      <div class="card">
        <app-card #playerOneCard [cardType]="card"
                  [ngStyle]="{
                    'z-index': decksService.cardCount - $index,
                    'top': ($index) + 'px',
                    'left': (3 * $index) - 25 + 'px'}"></app-card>
      </div>
    }
  </div>
  <div class="row">
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[0] }}</span>
        <span>{{ playerTwo.points[0] }}</span>
      }
    </div>
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[1] }}</span>
        <span>{{ playerTwo.points[1] }}</span>
      }
    </div>
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[2] }}</span>
        <span>{{ playerTwo.points[2] }}</span>
      }
    </div>
  </div>
  <div>
    <div class="deck">
      <span>{{ settingsService.playerTwoName }}</span>

      @for (card of playerTwo.deck; track $index) {
        <div class="card">
          <app-card #playerTwoCard [cardType]="card"
                    [ngStyle]="{
                    'z-index': decksService.cardCount - $index,
                    'top': ($index) + 'px',
                    'left': (3 * $index) - 25 + 'px'}"></app-card>
        </div>
      }
    </div>
  </div>
</div>


