<button (click)="backToSettings()" class="back-button">Back</button>
<div class="wrapper">
  <div class="deck" style="position: relative">
    @for (card of playerOne.deck; track $index) {
      <app-card #playerOneCard [cardType]="card"
                [ngStyle]="{
                    'z-index': decksService.cardCount - $index,
                    'top': ($index) + 'px',
                    'left': (3 * $index) - 40 + 'px'}"></app-card>
    }
  </div>
  <div class="row">
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[0] }}</span>
        <span>{{ playerTwo.points[0] }}</span>
      }
    </div>
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[1] }}</span>
        <span>{{ playerTwo.points[1] }}</span>
      }
    </div>
    <div class="cup">
      @if (settingsService.mode === 'tutorial') {
        <span>{{ playerOne.points[2] }}</span>
        <span>{{ playerTwo.points[2] }}</span>
      }
    </div>
  </div>
  <div>
    <div class="deck">
      @for (card of playerTwo.deck; track $index) {
        <app-card #playerTwoCard [cardType]="card"
                  [ngStyle]="{
                    'z-index': decksService.cardCount - $index,
                    'top': ($index) + 'px',
                    'left': (3 * $index) - 40 + 'px'}"></app-card>
      }
    </div>
  </div>
</div>


